.header {
}

.offer {
    background-color: #f19d2f;
    display: flex;
    height: 33px;
    align-items: center;
    justify-content: center;
}

.text {
    color: #2c2b31;
    text-align: center;
    font-size: 12.694px;
    font-style: bold;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    align-items: baseline;
}

.logo {
    background-color: #ffd1ac;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
}
