@font-face {
  font-family: 'Gotham Pro';
  src: url(../src/fonts/gothampro.ttf) format('ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url(../src/fonts/gothampro_bold.ttf) format('ttf');
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url(../src/fonts/gothampro_medium.ttf) format('ttf');
  font-style: medium;
  font-weight: 500;
}

body {
  margin: 0;
  font-family: 'Gotham Pro', sans-serif;
  max-width: 390px;
  background-color: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
